<ion-header>
  <ion-navbar>
    <ion-title>
      Chi siamo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fondazione EN.A.I.P.</ion-card-title></ion-card-header>
    <ion-card-content>
        La Fondazione opera sul territorio provinciale, regionale e nazionale nella formazione professionale,
        offrendo molteplici servizi alla persona (donne e uomini, giovani e adulti, nelle varie fasi del loro
        percorso formativo e lavorativo), su finanziamento pubblico o su commessa di impresa, enti e associazioni.
        Programmi di formazione iniziale, rivolta a giovani che hanno assolto l'obbligo scolastico, disoccupati e
        a chi è in una situazione di svantaggio sociale; di secondo livello, per diplomati e laureati, e continua,
        per lavoratori dipendenti o autonomi. Programmi di formazione a catalogo, su specifiche esigenze delle aziende.
        La Fondazione EN.A.I.P. S. Zavatta Rimini, promossa dalle ACLI nel 1959, è al servizio della comunità per
        contribuire a una crescita del bene comune.
    </ion-card-content>
</ion-card>

</ion-content>
