<!--
  Generated template for the DetEventoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ singlePost['title']['rendered']}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
        <ion-card>
          <img src="{{singlePost['_embedded']['wp:featuredmedia'][0].media_details.sizes.full.source_url}}">

          <ion-card-content [innerHTML]="contenuto"></ion-card-content>
        </ion-card>
</ion-content>
