<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Eventi" tabIcon="md-calendar"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Attrazioni" tabIcon="md-pin"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Chi siamo" tabIcon="md-information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contatti" tabIcon="contacts"></ion-tab>
</ion-tabs>
