<!--
  Generated template for the PuntiInteressePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Attrazioni</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-refresher  (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar id="barraRicercaEventi" debounce=400 showCancelButton placeholder="Cerca" (ionChange)='filtraAttrazioni()' [(ngModel)]='ricerca' ></ion-searchbar>

  <ng-container *ngFor="let page of pages">
    <ion-card (click)='onDetAttrazione(page)'>
      <img src="{{page._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url}}">
      <ion-card-header>
        <ion-card-title>{{ page.title.rendered }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-container>

</ion-content>
