<ion-header>
  <ion-navbar>
    <ion-title>
      Contatti
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title><ion-icon name="md-mail" item-start></ion-icon> email</ion-card-title>
    </ion-card-header>
    <ion-card-content>info@enaiprimini.org</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title><ion-icon name="md-phone-portrait" item-start></ion-icon> telefono</ion-card-title>
    </ion-card-header>
    <ion-card-content>0541 367100</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title><ion-icon name="md-map" item-start></ion-icon> indirizzo</ion-card-title>
    </ion-card-header>
    <ion-card-content>Viale Valturio, 4 – 47923 Rimini</ion-card-content>
  </ion-card>
</ion-content>
