<ion-header>
  <ion-navbar>
    <ion-title>Eventi</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher  (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar id="barraRicercaEventi" debounce=400 showCancelButton placeholder="Cerca" (ionChange)='filtraEventi()' [(ngModel)]='ricerca' ></ion-searchbar>

  <ng-container *ngFor="let post of posts">
    <ion-card (click)=onDetEvento(post)>
      <img src="{{post._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url}}">
      <ion-card-header>
        <ion-card-title>{{ post.title.rendered }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-container>

</ion-content>
