<!--
  Generated template for the DetAttrazionePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ singlePages['title']['rendered']}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="{{singlePages['_embedded']['wp:featuredmedia'][0].media_details.sizes.full.source_url}}">

    <ion-card-content [innerHTML]="contenuto"></ion-card-content>
    <iframe *ngIf="iframeUrl" [src]="iframeUrl" >  </iframe>
  </ion-card>
</ion-content>
